.Wrapper {
    position: relative;
    padding: 8px;
}

.image {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    width: 260px;
    border-radius: 16px;
    /* img {
        display: flex;
        width: 100%;
        cursor: zoom-in;
        border-radius: 16px;
        object-fit: cover;
    } */
}

@media (max-width: 767px) {


    .image {
        width: 350px !important;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .image {
        width: 290px !important;

    }
}

@media (min-width: 1800px) {
    .image {
        width: 290px;
    }

}

@media (max-width: 1200px) {
    .image {
        width: 240px;
    }

}

.top-btn,
.bottom-btn {
    position: absolute;
    cursor: pointer;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.top-btn {
    top: 20px;
    right: 20px;
}

.bottom-btn {
    bottom: 20px;
    right: 20px;
}

.image:hover {
    filter: brightness(85%);
}

.like-btn,
.bottom-btn,
.add-btn,
.artist-info {
    opacity: 0;
}

.like-btn {
    margin-right: 10px;
}

.image:hover .bottom-btn,
.image:hover .like-btn,
.image:hover .add-btn,
.image:hover .artist-info {
    opacity: 1;
}

.artist-info {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 8px;
    z-index: 1;
}

.info {
    color: #ffffff;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    height: 580px;
}



.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}



.name {
    font-weight: bold;
    margin-bottom: 4px;
}

.name-modal {
    font-weight: bold;
    margin-bottom: 4px;
    color: #000000;
}

.tag {
    font-size: 12px;
}

.artist-info-modal {
    display: flex;
    align-items: center;
    padding: 8px;
}

.artist-info-modal .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}



.artist-info-modal .name {
    font-weight: bold;
    margin-bottom: 4px;
}

.artist-info-modal .tag {
    font-size: 12px;
}

.top-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like-modal-btn,
.add-modal-btn,
.share-btn {
    margin-right: 20px;
}

.bottom-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 20px;
    font-size: 15px;
    line-height: 24px;
}

.img-detail {
    line-height: 24px;
    font-size: 15px;
    margin: 10px 20px;
    color: #767676;
}