@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Encode+Sans+Expanded:wght@800&family=Maven+Pro:wght@500&family=Oswald:wght@500&display=swap');

.container {
  width: 100%;
  height: 100vh;
  min-height: fit-content;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  font-family: 'Comfortaa', sans-serif;
  box-shadow: 5px 10px 5px 10px #b4b4b4;
  position: relative;
  margin: 10px auto 0 auto;
  border-radius: 3%;
  margin-top: 20px;
}

.lefContainer {
  display: inline-block;
  border-radius: 20px;
  padding: 30px;
  max-width: fit-content;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: hidden;
  flex-grow: 1;
}

.lefContainer img {
  border-radius: 10px;

}

.lefContainer:nth-child(1) {
  margin-left: 20px;
  box-shadow: 5px 10px 5px 5px #b4b4b4;
}

.rightContainer {
  background-color: #fff;
  border-radius: 20px;
  padding: 0;
  min-width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  flex: 0 0 25em;
}

.rightContainer div {
  margin: 2px 0;
}

.displayImage {
  opacity: 1;
  border-radius: 30px;
  transition: opacity 4s;
  box-shadow: 2px 2px 2px 2px;
  padding: 2%;
}

.container h2,
h4,
h6 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container input,
.container input,
input {
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 90%;
  min-width: 400px;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}

.container .passwordInputContainer {
  position: relative;
}

.container .forgot {
  color: #007bff;
  margin-bottom: 10px;
  width: fit-content;
  font-size: 12px;
  text-align: start !important;
  border: none
}

.container .forgot:hover {
  border: none !important;
}

.error {
  height: fit-content;
  font-size: 60%;
  color: red;
  font-family: 'Oswald', sans-serif;
  text-align: start !important;
}

.formFooter p {
  display: inline-block;
  margin-top: 20px;
}

.formFooter a {
  cursor: pointer;
  color: #007bff;
  font-family: 'Encode Sans Expanded', sans-serif;
  display: inline-block;
}

.otherLogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modalButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

h5 {
  font-family: 'Maven Pro', sans-serif;
  font-size: medium;
}