@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.profile-container {
    margin: 5% 100px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* .profile-card-meta{
    display: flex ;
    align-items: center ;
    justify-content: center ;
} */

/* .profile-content { */
    /* align-items: center;
    text-align: center; */
/* } */

.profile-btn {
    margin-top: 20px;
    margin-right: 20px;
}

span.ant-avatar.ant-avatar-circle.ant-avatar-image.css-dev-only-do-not-override-dkbvqv {
    width: 100px;
    height: 100px;
}

.ant-card-meta-detail {
    font-size: 16px;
}

.ant-card-meta-title {
    font-size: 20px !important;
}