@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;400&family=Titillium+Web:wght@400;700&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #FFEBB4;
}

.navbar {
    background-color: rgba(255, 255, 255, .4);
    text-align: center;
    max-height: 50px;
    width: 100vw;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.top {
    background: url("https://images.unsplash.com/photo-1628607292260-9195108b03b7?q=80&w=1771&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-top: 76px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.bottom {
    background-color: #7FC7D9;
    height: 100%;
    z-index: -1;
    display: flex;
    margin-top: 76px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.wideImage {
    width: 90%;

}

.topTextSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.topTextSection span {
    width: 100%;
    text-align: center;
}

.branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.primaryHeading {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-size: 400%;
}

.primaryText {
    color: #6a6a6a;
    font-family: "Londrina Solid", sans-serif;
    font-size: 110%;
    font-weight: 100;
}

.buttonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondaryButton {
    padding: 1rem 2.5rem !important;
    background-color: #176B87;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sampleImage {
    max-height: 500px;
    max-width: 800px;
    border-radius: 5%;
    position: absolute;
    /* top: -100px; */
    right: -90px;
    /* z-index: -2; */
    max-width: 700px;
}

.sampleBox {
    max-height: 100%;
    max-width: 700px;
    border-radius: 5%;
    margin-left: 50px;
    /* background-color: #678983; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 50%;
}

.sampleText {
    max-height: 200px;
    max-width: 300px;
    margin-left: 70%;
    font-size: 70%;
    color: #248f24;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sampleButton {
    margin-top: 50px;
    display: flex;
}

.sampleTest {
    max-height: 70px;
    max-width: 600px;
    /* position: relative; */
    display: flex;
    /* padding-top: 3rem; */
    margin-left: 60%;
}

.halfSection {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    justify-content: center;
    border: solid 1px red;
    overflow: hidden;
}

.firstButton {
    margin-left: 15px;
    text-decoration: none;
    padding: 1rem 0 !important;
    background-color: #176B87;
    /* outline: none; */
    /* border: none; */
    border-radius: 5rem;
    /* font-size: 1.1rem;
    
    font-weight: 600;
    color: white;
    transition: 0.2s; */
    display: flex;
    cursor: pointer;
    /* align-items: center;
    justify-content: center; */
}




.secondaryButton svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
}