*,
*:after,
*:before {
    box-sizing: border-box;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #FFEBB4;
}

.navbar {
    background-color: rgba(255, 255, 255, .4);
    text-align: center;
    max-height: 50px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dusk {
    background-color: #FFEBB4;
    height: 100%;
    z-index: -1;
    margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.day {
    background-color: #92C7CF;
    height: 100%;
    z-index: -1;
    display: flex;
    margin-top: 50px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.dawn {
    background-color: #E5D283;
    height: 100%;
    z-index: -1;
    display: flex;
    gap: 50px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.night {
    background-color: #27374D;
    height: 100%;
    z-index: -1;
    margin-top: 50px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.sampleBox {
    max-height: 400px;
    max-width: 700px;
    border-radius: 5%;
    margin-left: 50px;
    background-color: #678983;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 50%;
}

.sampleText {
    max-height: 200px;
    max-width: 300px;
    margin-left: 70%;
    font-size: 70%;
    color: #248f24;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sampleButton {
    margin-top: 50px;
}