/* Navbar.css */

.navbar {
    background-color: #EEF5FF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inherit !important;
}

.first-line {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
    /* Added */
}

.logo img {
    width: 40px;
    margin-left: 10px;
    height: auto;
    margin-right: 10px;
    border-radius: 30px;
}

.search-box {
    margin-left: 20px;
    max-width: 800px;
}

/* .search-box .ant-input-group-wrapper {
    width: 300px;
} */

.search-box .ant-input {
    border-radius: 20px;
}

.search-box .ant-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions>* {
    margin-right: 10px;
}

.menu-button {
    margin-left: auto;
}

.menu {
    text-align: center;
}

.menu ul {
    padding-inline-start: 0;
}

.menu li {
    list-style-type: none;
    padding: 4px;
    color: #767676;
}

.menu li:hover {
    color: #000000;
}

.menu p {
    font-weight: bold;
    font-size: 17px;
}

.menu-part {
    margin: 0 30px;
}

.btn-nav {
    margin-left: 0.75rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-nav svg {
    font-size: 20px;
}

.link-btn-nav {
    text-decoration: none;
}